<div class="">
  <div class="col-md-8 col-md-offset-2">

<% if current_user.name.blank? %>
<div class="col-xs-12 text-center well well-lg topic_error">
      <h6>
	      <p>ユーザー情報の登録が完了していない場合、記事の登録をすることができません。</p>
	      <p>登録を完了させてから記事の登録をお願いします。</p>
	      <P>登録は<%= link_to "こちら" ,user_path(current_user.id) %>から可能です。</P>
      </h6>
</div>

<% else %>
<%= form_for @topic do |f|  %>


<div class="col-md-12 topic_information">
	<div class="col-md-3">
		
		<% if  @topic.url.include?("teratail") then %>
		<h3>作成日</h3>
			<%= f.text_field :posted_day,class: "topic_title readonly",:value =>  @time.slice!(0,10) ,:readonly =>true  %><br>
		<% elsif @topic.url.include?("qiita") then %>
		<h3>作成日</h3>
			<%= f.date_field :posted_day,class: "topic_title readonly",:value =>  @time,:readonly =>true  %><br>
		<% else %>
			<%= f.text_field :posted_day,class: "topic_title readonly" ,:readonly =>true  %><br>
		<% end %>
	</div>


		<div class="col-md-3">
			<% if @author != nil %>
			<h3>作成者</h3><%= f.text_field :author,class: "topic_title readonly",:value => @author ,:readonly =>true  %><br>
			<% else %>
				<%= f.text_field :author,class: "topic_title readonly",:readonly =>true  %><br>
			<% end %>
		</div>
		<div class="col-md-6">
			<h3>URL</h3><%= f.text_field :url ,class: "topic_url readonly col-md-12",:readonly =>true  %><br>
	</div>
</div>


<h3>タイトル</h3><%= f.text_field :title,class: "topic_title",:value => @h1 %><br>

<h3>記事内本文</h3><%= f.text_area :paragraph ,class: "topic_body",:value => @p %><br>

<h3>記事内コード</h3><%= f.text_area :body ,class: "topic_body",:value => @pre %><br>


<h3>修正箇所</h3><%= f.text_area :re_body ,class: "topic_body" %><br>


<h3>カテゴリー<label class="must">必須</label></h3>
<%= collection_check_boxes(:topic, :category_ids, Category.all, :id, :category_name) do |b| %>
	<%= b.label { b.check_box + b.text }  %>
<% end %><br>


<h3>タグ<label class="must">必須</label></h3>
<%= f.fields_for :tags do |tag| %>
<div class="">
<%= render 'tag_fields', f: tag %>
<div class="">
<%= link_to_add_association '追加', f, :tags %>
</div>
</div>
<% end %>


<br><h3>画像</h3><%= f.attachment_field :topic_image %><br>
<%= f.submit "登録" ,class: "btn btn-default" %><br>
<% end %>
<% end %>
</div>
</div>


<div class="col-md-12 border_line">
</div>
