<% if user_signed_in? %>
<div class="col-md-12 topic_registration">
<%= form_for @new_topic, url: {action: 'confirm'} do |f|  %>
<%= f.url_field :url,class: "col-md-10" ,:placeholder => "URLで記事を登録できます。" %>
<%= f.submit "登録", class: "col-md-2 btn-default bt-samp31" %>
<% end %>
</div>
<% end %>

<div class="col-md-12 second_nav">
    <div class="col-md-10 col-md-offset-1">

        <div class="col-md-3 col-md-offset-1 second_nav_box">
            <div class="col-md-12 text-center nav_box_text">
             登録ユーザー
            </div>
            <div class="col-md-12 text-center">
              <h2 class="h2_count"><%= User.count %><h6 class="h2_count">人</h6></h2>
            </div>
        </div>

         <div class="col-md-3 col-md-offset-1 second_nav_box">
            <div class="col-md-12 text-center nav_box_text">
              記事総数
            </div>
            <div class="col-md-12 text-center">
              <h2 class="h2_count"><%= Topic.count %><h6 class="h2_count">個</h6></h2>
            </div>
        </div>

        <div class="col-md-3 col-md-offset-1 second_nav_box">
            <div class="col-md-12 text-center nav_box_text">
              <% if @topic_search == nil && "" %>
                  <%= "実装可能率" %>
              <% else %>
                  <%= "検索文字,実装可能率" %>
              <% end %>

            </div>
            <div class="col-md-12 text-center">
             <% if (@percent * 100).round(1).nan? %>
                  <h2 class="h2_count"><%= "0" %><h6 class="h2_count">%</h6></h2>
              <% else %>
                  <h2 class="h2_count"><%= (@percent * 100).round(0) %><h6 class="h2_count">%</h6></h2>
              <% end %>
            </div>
        </div>
    </div>
</div>




<div class="col-md-12 search_area">
        <%= form_tag topics_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search] ,class: "col-md-10 topic_form_index",:placeholder => "記事の検索ができます。" %>
            <%= submit_tag '検索', :name => nil , class: "btn btn-default col-md-2 topic_submit_index bt-samp31" %>
        <% end %>
  </div>


<div class="">
    <div class="col-md-7 col-md-offset-1">

      <% if request.url.include?("search") != true then %>
              <h3>記事一覧</h3>
      <% elsif @iamadmin == true then %>
              <h3>Admin Login</h3>
              <%= form_for(resource_admin, as: resource_name_admin, url: session_path(resource_name_admin)) do |f| %>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
                  <%= f.password_field :password, autocomplete: "off" %>
                  <%= f.submit "Log in" %>
              <% end %>
      <% elsif @hi_admin == true then %>
              <h3><%= link_to "Admin_Page", admins_top_path %></h3>
      <% else %>
          <% if @topic_search != [] %>
              <h3> <%= params[:search] %></h3>
          <% else %>
              <h3>記事一覧</h3>
          <% end %>
     <% end %>


      <% if flash[:notice] %>
          <label style="color:red;"><%= flash[:notice] %></label>
      <% end %>



<% if user_signed_in? || admin_signed_in? %>
    <div class="pull-right">
        <% if request.url.include?("desc&sort=total_count") then %>
                <th><%= sortable "total_count", "実装可能▼" %></th>
        <% elsif request.url.include?("asc&sort=total_count") then %>
                <th><%= sortable "total_count", "実装可能▲" %></th> 
        <% else %>
                <th><%= sortable "total_count", "実装可能順" %></th>
        <% end %>


<!--         <%# if request.url.include?("desc&sort=page_count") then %>
                <th><%#= sortable "page_count", "プレビュー▼" %></th>

        <%# elsif request.url.include?("asc&sort=page_count") then %>
                <th><%#= sortable "page_count", "プレビュー▲" %></th> 
        <%# else %>
                <th><%#= sortable "page_count", "プレビュー順" %></th>
        <%# end %> -->



        <% if request.url.include?("desc&sort=created_at") then %>
                <th><%= sortable "created_at", "作成日▼" %></th>
        <% elsif request.url.include?("asc&sort=created_at") then %>

                <th><%= sortable "created_at", "作成日▲" %></th>
        <% else %>
                <th><%= sortable "created_at", "作成日順" %></th>
        <% end %>
    </div>
<% end %>






        <table class="table">
            <tbody>
                <% @topics.each do |topic| %>
                    <tr>
                        <% if topic.percentage.nan? %>
                              <td class="per_dis" nowrap rowspan="2"><%= 0 %>%</td>
                        <% else %>
                              <td class="per_dis" nowrap rowspan="2"><%= topic.total_count %>%</td>
                        <% end %>
                        <td class="topic_title_index" colspan="3">
                            <% if topic.is_new %>
                                <label class="new_label">新着</label>
                            <% end %>
                            <%= link_to "#{topic.title}", topic_path(topic),class: "topic_title_index" %></td>
                        <td nowrap ><% if user_signed_in? %><%= link_to "クリップ", add_topic_path(topic.id), method: :post %><% end %></td>
                    </tr>
                    <tr>
                        <td nowrap>
                          <i class="glyphicon glyphicon-thumbs-up"></i><%= topic.good_count %>
                          <i class="glyphicon glyphicon-thumbs-down"></i><%= topic.bad_count %>
                        </td>
                        <td nowrap><%= topic.page_count %>PV</td>
                        <td>
                            <% topic.categories.each do |category| %>
                                <%= link_to "#{category.category_name}", categories_path(category_name: category.category_name)  %>
                            <% end %>
                        </td>
                        <td nowrap><%= topic.user.name %></td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>

    <div class="col-md-3">
       <h3>ランキング</h3>
        <!-- タブ・メニュー -->
        <ul class="nav nav-tabs">
              <li class="active tab_size"><a class="tab_font_size" href="#sampleContentA" data-toggle="tab">ユーザー</a></li>
              <li class="tab_size"><a class="tab_font_size" href="#sampleContentB" data-toggle="tab">記事</a></li>
              <li class="tab_size"><a class="tab_font_size" href="#sampleContentC" data-toggle="tab">いいね</a></li>
        </ul>

        <!-- タブ内容 -->
        <div class="tab-content">
              <div class="tab-pane active" id="sampleContentA">
                  <table class="col-md-12">
                    <tbody>
                      <% @user_rank.each.with_index(1) do |user_rank, i| %>
                          <tr>
                            <td><%= "第#{i}位" %>：</td>
                            <td><%=link_to "#{user_rank.name}", user_path(user_rank) %></td>
                          </tr>
                          <tr class="ranking_border">
                             <td><%= attachment_image_tag user_rank, :profile_image, size: '50x50', fallback: "no_image_top.jpg", class: "" %></td>
                            <td>followers：<%= user_rank.follower_count %></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>


              <div class="tab-pane" id="sampleContentB">
                  <table>
                    <tbody>
                      <% @page_rank.each.with_index(1) do |page_rank, i| %>
                          <tr>
                            <td colspan="2"><%= "第#{i}位" %>：<%=link_to "#{page_rank.title}", topic_path(page_rank) %></td>
                          </tr>
                          <tr class="ranking_border">
                            <td><%= page_rank.user.name %></td>
                            <td>views：<%= page_rank.page_count %></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>


              <div class="tab-pane" id="sampleContentC">
                  <table>
                    <tbody>
                      <% @good_rank.each.with_index(1) do |good_rank, i| %>
                          <tr>
                            <td colspan="2"><%= "第#{i}位" %>：<%=link_to "#{good_rank.title}", topic_path(good_rank) ,class: "ranking_box"%></td>
                          </tr>
                          <tr class="ranking_border">
                            <td><%= attachment_image_tag good_rank.user, :profile_image, size: '50x50', fallback: "no_image_top.jpg", class: "" %></td>
                            <td>score：<%= good_rank.good_count %></td>
                          </tr>
                      <% end %>
                    </tbody>
                  </table>
              </div>
        </div>
    </div>
    <div class="col-md-12 text-center">
        <%= paginate @topics, class: "pagenate" %>
    </div>
</div>

<div class="col-md-12 border_line">
</div>


