<div class="row">
    <div class="col-md-11 col-md-offset-1">
   	 
   	<%= link_to admins_users_path do %>
   	 <div class="col-md-3 admin_box" >
	    	<div class="col-md-4"><h1><i class="glyphicon glyphicon-user"></i></h1></div>
	    	<div class="col-md-8">
	    		<div class="col-md-12 count">
	    		<%= User.count %>
		    	</div>
	    		<div class="col-md-12 text_name">
	    		Users
		    	</div>
	    	</div>
	    	<div class="col-md-12">
		    	<div class="col-md-6 detail">view detail</div>
		    	<div class="col-md-6 icon_arrow-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></div>
		    	</div>
	  </div>
    <% end %>

 	<%= link_to admins_topics_path do %>
    <div class="col-md-3 col-md-offset-1 admin_box">
	    	<div class="col-md-4"><h1><i class="glyphicon glyphicon-list-alt"></i></h1></div>
			<div class="col-md-8">
				<div class="col-md-12 count">
				<%= Topic.count %>
				</div>
				<div class="col-md-12 text_name">
		   		Topics
		   		</div>
	    	</div>
	    	<div class="col-md-12">
	    	<div class="col-md-6 detail">view detail</div>
			<div class="col-md-6 icon_arrow-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></div>
			</div>
    </div>
    <% end %>

 	<%= link_to admins_contacts_path do %>
     <div class="col-md-3 col-md-offset-1 admin_box">
	     	<div class="col-md-6"><h1><i class="glyphicon glyphicon-envelope"></i></h1></div>
			<div class="col-md-6">
				<div class="col-md-12 count">
				<%= Contact.count %>
				</div>
				<div class="col-md-12 text_name">
				Contacts
				</div>
			</div>
			<div class="col-md-12">
			<div class="col-md-6 detail">view detail</div>
			<div class="col-md-6 icon_arrow-right"><i class="glyphicon glyphicon-circle-arrow-right"></i></div>
			</div>

    </div>
     <% end %>

    </div>
     <div class="col-md-11 col-md-offset-1">
     	<div  style="background-color: pink;"  class="col-md-7 admin_box_second">
     		<div class="col-md-12"><h1>Contact</h1></div>
     	</div>
     	<div  style="background-color: skyblue;"  class="col-md-3 col-md-offset-1 admin_box_second">
     		<div class="col-md-12"><h1>Contact</h1></div>
     	</div>
     </div>
</div>
