<div class="row admin_row">
    <div class="col-md-11 col-md-offset-1">
    <h1>Contacts</h1>
      <div class="col-md-11 admin_box_second3">
        <h2 class="admin_title"><i class="glyphicon glyphicon-chevron-right"></i>Contacts</h2>
            <div class="col-md-12  dashboard_box">
                    <div class="col-md-2">
                    ID:<%= @contact.id %>
                    </div>

                    <div class="col-md-5 admin_show_title">
                     <%= @contact.title %>
                    </div>

                     <div class="col-md-5">
                    <%= @contact.email %>
                    </div>

                    <div class="col-md-12">
                    <%= @contact.body %>
                    <hr>
                    </div>

                    <div class="col-md-12">
                    <%= simple_time(@contact.created_at) %><%= link_to "削除",  admins_contact_path(@contact), method: :delete %>
                    </div>
            </div>
       </div>
   </div>
</div>