<!DOCTYPE html>
<html>
  <head>
    <title>Minmemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  </head>

<body class='<%= "#{controller.controller_name}" %>'>
<header>
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <%= link_to root_path do %>
          <%= image_tag 'logo.png', class: "logo" %>
          <% end %>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post })  do |f| %>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
               <li class="nav_list"><%=link_to "記事一覧", topics_path %></li>
                <li class="nav_list"><%=link_to "ユーザー情報", user_path(current_user.id) %></li>
		           <li class="nav_list"><%= link_to "ログアウト", destroy_user_session_path, :method => :delete %></li>
		  <% else %>
	  			　　<li><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "nav_form",:placeholder => "Email"   %></li>
		            <li><%= f.submit "reset password",class: "nav_form"  %></li>
                <li class="nav_list"><%= link_to "新規登録", root_path, class: "nav_registration"%></li>
	   	  <% end %>
          </ul>
        </div>
      </div>
    </nav>
<% end %>
</div>
</header>

<p id="notice"></p>

<%= yield %>
<% if admin_signed_in? %>
<div class="col-md-12">
    管理者ログイン中
</div>
<% end %>
<footer>
    <div class="col-md-12 footer">
        <div class="col-md-10 col-md-offset-1">
            <div class="col-md-3">
                <ul>
                    <%= image_tag 'logo.png' ,class: "col-md-12 footer_logo" %>
                    <li class="col-md-12 sitemap">・Site Map</li>
                    <% if user_signed_in? != current_user %>
                    ・<%= link_to "Forgot password" , topic_password_path ,class: "sitemap" %>
                    <% end %>
                </ul>
            </div>

            <div class="col-md-4">
                <ul>
                    <li class="col-md-12 sitemap sns">・My Web Site SNS</li>
                    <li class="col-md-12 sitemap">・<%= link_to "GitHub" , "https://github.com/hayato1118/" ,class: "sitemap" %></li>
                    <li class="col-md-12 sitemap">・<%= link_to "Facebook" , "https://www.facebook.com/profile.php?id=100024524379559" ,class: "sitemap"  %></li>
                    <li class="col-md-12 sitemap">・<%= link_to "Twitter" , "https://twitter.com/CodeCellars/" ,class: "sitemap"  %></li>
                    <li class="col-md-12 sitemap">・<%= link_to "Instagram" , "https://www.instagram.com/code.cellars/" ,class: "sitemap"  %></li>
                </ul>
            </div>

            <div class="col-md-5">
                <ul>
                    <li style="background-color: #FFFFFF">Contact</li>
                    <%= form_for @contact ,url: admins_contacts_path  do |f| %>
                    <li><%= f.text_field :title ,class: "col-md-12 contact contact_title",:placeholder => "Title"  %></li>
                    <li><%= f.email_field :email,class: "col-md-12 contact contact_email",:placeholder => "Email"  %></li>
                    <li><%= f.text_area :body ,class: "col-md-12 contact contact_body",:placeholder => "Body"  %></li>
                    <li><%= f.submit "送信",class: "col-md-12 contact contact_submit" %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</footer>
</html>

